/* .user_card {
  max-width: 100%;
  height: 420px;
  width: 360px;
  margin-top: 50px;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 2px solid white;
  border-radius: 25px;
  /* box-shadow: #ffffff; */
/* box-shadow: -6px 2px 28px -8px rgba(0, 0, 0, 0.59); */
/* -webkit-box-shadow: -6px 2px 28px -8px rgba(0, 0, 0, 0.59); */
/* -moz-box-shadow: -6px 2px 28px -8px rgba(0, 0, 0, 0.59); */
/* }  */

/* .login_card {
  max-width: 100%;
} */




.form_container {
  /* margin-top: 50px; */
  /* padding-inline: 10px; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* position: relative; */
  /* display: flex; */
  /* justify-content: space-between 2px; */
  position: fixed;
  max-width: 100%;
  width: 330px;
  padding: 20px;
  margin: 20px;
  flex-direction: column;
  line-height: 45px;
  align-items: center;
  margin-top: -400px;
  margin-left: 130px;
  /* border-left: 3px solid white; */
  /* border-right: 3px solid white; */
}

.form_container h2{
  color: #ffffff;
  margin-bottom: 20px !important;
}

.login_btn {
  width: 100%;
  width: 200px;
  margin-top: 20px;
  background-image: linear-gradient(black, rgb(22, 22, 22));
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border: solid 2px white;
}

/* .login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
} */

.login {
  margin-top: 80px;
  margin-bottom: 10px;
}

.login_container {
  padding: 0 2rem;
}

/* .login input {
  background: transparent !important;
} */

.input-group-text {
  height: 100%;
  background: none;
  color: white;
  outline: none !important;
  margin-right: 1px;
}

.input_user,
.input_pass {
  color: white !important;
  background: none !important;
  font-weight: bolder !important;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  outline: none !important;
}

/* .input_user:focus,
.input_pass:focus {
  color: white;


  box-shadow: none !important;
  outline: 0px !important;
} */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}

@media (max-width: 992px) {
  .login_card {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
