
.brand_logo_container {
    position: absolute;
    height: 120px;
    width: 120px;
    top: 25px;
    border-radius: 50%;
    background: #ffffff;
    padding: 2px;
    text-align: center;
  } 
  
   .brand_logo {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    /* border: 2px solid white; */
    /* border: 2px solid rgb(60, 28, 117); */
  }

.left h8 {
    color: white;
    font-family: Quicksand;
    /* font-size: 20px; */
    font-style: italic;
    text-align: center;
    margin-left: 125px;
}


.left h1 {
    color: white;
    font-family: Quicksand;
    font-size: 80px;
    margin-top: 150px;
    margin-left: 75px;
}


@media (max-width: 992px) {
    .ctdlogo h4{
        /* margin-top: px; */
        font-size: 15px;
        margin-bottom: 20px;
    }
    .ctdlogo h1{
        margin-top: 25px;
        font-size: 60px;
    }
}