@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@keyframes animStar {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.home_card {
    max-width: 100%;
    height: 470px;
    width: 300px;
    margin-top: 80px;
    background-color: black;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    border: 2px solid white;
    opacity: 0.9;
    border-radius: 25px;
    box-shadow: -6px 2px 28px -8px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -6px 2px 28px -8px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -6px 2px 28px -8px rgba(0, 0, 0, 0.59);
} 

.home-content{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.home-content {
    min-height: calc(100vh - 135px);
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
}

.header-img {
    text-align: center;
}

/* .header-img img{
    width: 100%;
    max-width: 200px;
} */

footer {
    bottom: 0px;
    background: black;
    color: white;
    padding: 1.2rem;
    text-align: center;
    position: fixed;
    width: 100%;
}

/* @media (max-width: 992px) {
    .animated {
        margin-top: 30px;
        margin-bottom: 30px;
    }
} */

