.name {
    color: white;
}

.content {
    color: white;
    margin-top: 100px;
    margin-bottom: 75px;
}

.backgd {
    background-color: rgba(16, 31, 71, 0.404);
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
    overflow: scroll;
}

.circletimer {
    float: right;
}

#ans {
    background: rgba(0,0,0,0.6);
    outline: white;
    color: white;
}