.name {
    color: white;
    font-size: 2rem;
}

.content {
    color: white;
    margin-top: 100px;
    margin-bottom: 75px;
    max-width: 720px;
}

.backgd {
    background-color: #02061d;
    min-height: 100vh;
    overflow: scroll;
}

.circletimer {
    float: right;
    margin-bottom: 10px;
}

#ans {
    background: rgba(0,0,0,0.6);
    outline: white;
    color: white;
}

.descp {
    font-size: x-large;
    height: calc(100vh - 400px);
    overflow-y: auto;
}

.ansform {
    bottom:0;
}

.formcont {
    margin-bottom:75px;
    background-color: #02061d;
    max-width: 720px;
}

.inqzlogo {
    height: 55px;
    width: auto;
    background: #ffffff;
    border-radius: 50%;
}

.MyNavs {
	background-color: black;
}

.title {
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
}

.quespin {
    width: 1.5rem;
    height: 1.5rem;
}

.subbutt {
    width: 58px;
    height: 24px;
}