.newnav {
    background: black;
}

.newnav-item::hover {
    text-decoration: none;
}

.newnav-item {
  width: 100px;
  display: flex;
  color: white;
  font-weight: bolder;
}

.logo{
  filter: brightness(250%);
}

@media (max-width: 992px) {
  .newnav {
    margin-bottom: 60px;
  }

}
