.tick{
    display: block;
    
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    height: 200px;
    width: 200px;

}

.endpage{
    position: relative;
    top : 20px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.486);
    margin-bottom: 90px !important;
}